<div class="container-rounded">
  <h2 class="text-primary font-bold mb-4">Rabbit</h2>
  <div class="flex justify-evenly w-full text-left text-secondary">
    <div class="">
      <p>Name: </p>
      <p>Fur Color: </p>
      <p>Class: </p>
    </div>
    <div class="">
      <p><%= @rabbit.name %></p>
      <p><%= @rabbit.fur_color.capitalize %></p>
      <p><%= @rabbit.kind.capitalize %></p>
    </div>
  </div>
</div>