<% if resource.errors.any? %>
  <div role="alert">
    <div class="border border-error rounded-b bg-red-100 px-4 py-3 text-error mt-4">
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>
