<div class="container-rounded">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text form-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me the instructions", class: 'btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>