@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h2 {
    @apply font-bold;
  }
  label {
    @apply align-middle;
  }
}

@layer components {
  .content {
    @apply flex flex-col items-center justify-center h-full py-6;
  }
  .container-rounded {
    @apply flex flex-col items-center justify-center p-8 rounded-xl shadow-lg w-11/12 xs:w-8/12 md:w-5/12;
  }
  .field {
    @apply mx-2 my-4;
  }
  .actions {
    @apply flex justify-center my-4;
  }
  .btn-primary {
    @apply bg-primary py-2 px-4 rounded text-white;
  }
  .input-text {
    @apply border-0 p-2 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none w-full;
  }
  .select-tag {
    @apply border-0 p-2 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none w-full;
  }
}