<!DOCTYPE html>
<html>
  <head>
    <title>RabbitGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-50">
    <nav class="bg-primary sticky top-0 w-full">
      <div class="mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
        <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "text-accent" %>
        <% end %>
      </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
